.layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height:calc(100%-10rem);
    width:100%;
    max-width: 150rem;
    /* height:90vh; */
    margin:4rem;
    flex:5
}
