.products-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.products-items-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: fit-content;
  gap: 3rem;
  padding: 2rem;
}

.no-products-container {
  text-align: center;
  width: 100%;
  margin-top: 10vh;
}

.no-products-msg {
  font-size: 3rem;
  line-height: 3;
  letter-spacing: 0.3rem;
}

.product-filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
}

.product-filter {
  font-size: 1.5rem;
  border-radius: 8rem;
  padding: 1rem;
}

.product-filter:hover {
  color: rgba(36, 136, 189);
  cursor: pointer;
}
