.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: fit-content;
  gap: 3rem;
  padding: 2rem;
}

.products-secondary-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
