.cart-item {
  border-top: 1px solid #c3c3c3;
  width: 100%;
  padding: 2rem;
  min-height: 15rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
}

.cart-item:last-child {
  border-bottom: 1px solid #c3c3c3;
}

.cart-item div {
  flex: 1;
  font-size: 1.5rem;
}

.item-img {
  flex: 1;
  height: 100%;
  width: 100%;
  max-width: 12rem;
  max-height: 12rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content:center;
}

.item-img img {
  max-width: 12rem;
  max-height: 12rem;
}