.cart-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 4rem;
  gap: 3rem;
}

.cart-items-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 5;
}

.cart-summary-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 2;
}
